.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Display1 {
  display: flex;
}
.Display2 {
  width: 100%;
  font-size: 12vh;
  text-align: right;
  color: #eee;
  background-color: black;
}
.DisplayM {
  width: 50%;
  font-size: 5vh;
  text-align: right;
  color: #eee;
  background-color: #aaa;
}
.DisplayS {
  width: 50%;
  font-size: 5vh;
  text-align: right;
  color: #eee;
  background-color: #555;
}

.Panel {
  display: flex;
  flex-wrap: wrap;
  flex : auto;
}

.Panel > button{
  width: 20%;
  font-size: 6vh;
  /* flex: auto; */
}