@import url("https://fonts.googleapis.com/css2?family=Gayathri&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gayathri", sans-serif;
    word-wrap: break-word;
}
html {
    height: 100%;
    width: 100%;
}
body {
    background: white;
    display: flex;
    height: 100%;
    width: 100%;
    /* border: 4px solid blue; */
    justify-content: space-evenly;
}

h1 {
    color: #eee8;
}

#album-select-block {
    width: 10%;
    height: 100%;
    border: 2px solid purple;
    background-color : #eee;
    text-align: center;
    word-wrap: break-word;
    padding-top: 5px;
    display: flex;
    flex-direction : column;
}
.title {
    font-size: 24px;
    color : fuchsia;
}

#small-picture-block {
    width: 44%;
    height: 100%;
    border: 4px solid green;
    background-color : #ccc;
    display: flex ;
    flex-direction : column;
    justify-content : center;
}

#big-picture-block {
    width: 44%;
    height: 100%;
    border: 4px solid yellowgreen;
    display: flex ;
    flex-direction : column;
    justify-content : center;
}

#gallery {
    width: 100%;
    height: 100%;
    border: 4px solid burlywood;
    overflow: scroll;
}


.small-picture {
    width: 32vw;
    height: 32vw;
    object-fit: contain;
    background: white;
    border: 2px solid black;
    transition: transform 0.2s;
}
@media (min-width : 610px){
    .small-picture {
        width: 19vw;
        height: 19vw;
    }
}
@media (min-width : 930px){
    .small-picture {
        width: 13vw;
        height: 13vw;
    }
}
@media (min-width : 1200px){
    .small-picture {
        width: 10vw;
        height: 10vw;
    }
}
.small-picture:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.small-clicked {
    border: 6px solid purple;
}


.big-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 4px solid red;
    overflow: auto;
}
#album-list {
    width: 100%;
    height: 100%;
    /* border: 2px solid burlywood; */
    background-color : #eee;
    word-wrap: break-word;
    overflow: scroll;
}

.album-button {
    width: 100%;
    text-align: start;
    background-color : #666;
    word-wrap: break-word;
    color : #eee;
    padding: 5px;
    border-bottom: 2px solid #aaa;
}

.album-button:hover {
    background-color : darkgreen;
    cursor: pointer;
}

.album-clicked {
    border: 3px solid yellow;
}

.all-button:hover {
    cursor: pointer;
}